/vendor/
/node_modules/
/public/storage
/storage/*.key
/.idea
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.credentials
credentials
*.credentials
database/database.sqlite
